body{
    margin: 0;
    overflow: hidden;
    background-color: seagreen;
}

#title{
    text-align: center;
    color: whitesmoke;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.box1 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box2 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box3 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box4 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box5 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box6 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box7 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box8 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box9 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.box10 {
    background-color: whitesmoke;
    width: 80px;
    height: 100px;
    color: black;
    text-align: center;
}

.ball-overlay-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: whitesmoke;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9000;
    text-align: center;
    vertical-align: middle;
}